.route__heading {
    margin: 20px 0;
}

.route__list {}

.route__item {}

.route__item-heading {
    margin-bottom: 20px;
}

.route__item-course {
    padding: 20px;
}

.route__item-course-show {}

.route__item-course-img {
    border-radius: 20px;
    width: 250px;
}

.route__course {
    flex: 1;
    margin-left: 20px;
    position: relative;
}

.route__course-desc {
    font-size: 1.4rem;
}

.route__course-btn {
    position: absolute;
    bottom: 0;
}

.route__course-name {}
.route__heading {
    margin-top: 15px;
}

.route__content {
    margin-top: 50px;
}

.route__content-item {
    padding: 20px;
    margin-left: 20px;
}

.route__content-item-body {
    height: 100px;
}

.route__content-item-heading {
    text-decoration: none;
}

.route__content-item-desc {
    font-size: 1.4rem;
}

.route__content-item-btn {
    margin-top: 10px;
}

.route__content-item-show {}